:root {
    --color-background: #fff;
    --color-background-pale: #f9f9f9;
    --color-border-default: #d1d1d2;
    --color-header: #303033;
    --color-background-light-grey: #F4F4F4;
    --color-primary: #6B57FF;
    --color-text-main: #19191C;

    --white: #ffffff;
    --black: #000000;
}

