.toc-item {
    box-sizing: content-box;
    cursor: pointer;
}

.toc-item__arrow-wrapper {
    margin-right: 4px;
    width: 16px;
    height: 16px;
}

.toc-item__arrow--expand {
    transition: transform 0.2s ease-in;
    transform: rotate(90deg);
}

.toc-item__name {
    display: flex;
    align-items: center;
    padding: 8px 16px 8px 0;
    font-size: 13px;
    line-height: 20px;
    color: var(--color-text-main);
    transition: background-color 0.2s ease-in;
    text-decoration: none;
}

.toc-item__name:not(.toc-item__name--active):hover {
    background-color: var(--color-background-light-grey);
}

.toc-item__name--active {
    background-color: var(--color-primary);
    color: var(--white);
}

.toc-item__name--backlight:not(.toc-item__name--active) {
    background-color: var(--color-backlight-active);
}

.toc-item__name--backlight-pale:not(.toc-item__name--active) {
    background-color: var(--color-background-light-grey);
}

.toc-item__name--backlight:not(.toc-item__name--active) {
    background-color: var(--color-backlight-active);
}
